@charset "UTF-8";

:root{
  --fundo-principal:#f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 8vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--destaque);
  color: var(--fundo-card);
  padding: 10px;
}

header>nav>i{
  padding-right: 10px;
}

