@charset "UTF-8";

:root{
  --fundo-principal:#f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 8vh;
  background-color: var(--destaque);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
}

header>ul{
  display: flex;
  gap: 10px;
  margin-right: 5px;
  list-style: none;
}

header>ul>li>a{
  color: white;
  font-size: 22px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.075);
  padding: 5px;
}

header>ul>li>a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  transition: 0.5s;
}

body{
  background-color: rgb(224, 224, 224);
}

.folha{
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

#foto{
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
  border: 5px solid var(--destaque);
  border-radius: 100px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

main>section>h1{
  color: #0077ff;
  margin-bottom: 10px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.089);
}

main>#topo>p{
  color: var(--texto);
  font-size: 18px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.041);
}

a{
  text-decoration: none;
  color: #0077ff;
}

#redes_sociais{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
  font-size: 30px;
}

#redes_sociais > a{
  padding-left: 5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.219);
}

#redes_sociais > a:hover{
  color: var(--texto);
}