@charset "UTF-8";

:root{
  --fundo-principal:#f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  background-color: var(--destaque);
  color: var(--fundo-card);
}

header>nav>a{
  color: var(--fundo-card);
  text-decoration: none;
}

header>nav>a:hover{
  background-color: var(--fundo-card);
  color: var(--destaque);
  transition: 0.5s;
}

header>nav{
}

.material-icons{
  padding-left: 10px;
}


